#content {
	padding: 20px;
	text-align: center;
}

#catalog_header {
	text-align: center;
	background-color: #00ccff;
	overflow: auto;
	font-size: 38px;
}
#footer_m {
	padding: 1px;
	background: #4080bf;
	color: #ffffff;
	text-align: center;
}
#catalog_header {
    text-align: center;
    background-color: #00ccff;
    overflow: auto;
}
ul#header_links {
	list-style-type: none;
}
li {
	display: inline;
	font-size: 20px;
	margin-right: 15px;
}
a {
	text-decoration: none;
}
#login_box {
	width: 250px;
	background-color: #0066cc;
	color: #ffffff;
	margin: auto;
	/*padding-left: 10px;*/
	padding: 10px 0px 10px 10px;
	overflow: auto;
	margin-bottom: 10px;
	text-align: left;
}
#afisare_note {
    border-collapse: collapse;
	border: 1px solid black;
	Width: 95%;
	margin: auto;
	/*padding-bottom: 10px;*/
}

#afisare_note th, #afisare_note td {
    text-align: left;
    padding: 8px;
}

#afisare_note tr:nth-child(even) {
	/*background-color: #f2f2f2;*/
	background-color: #d9d9d9;
}
#afisare_note th {
    background-color: #0080ff;
    color: white;
	border-bottom: 1px solid black;
	text-align: center;
}
#date_identificare {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
	margin: auto;
	text-align: center;
}

#date_identificare td, #date_identificare th {
    border: 1px solid #ddd;
    padding: 8px;
}

#date_identificare tr:nth-child(even){background-color: #f2f2f2;}

#date_identificare tr:hover {background-color: #ddd;}

#date_identificare th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.form_boxes {
	width: 310px;
	background-color: #0066cc;
	color: #ffffff;
	margin: auto;
	margin-top: 50px;
	padding-left: 15px;
	overflow: auto;
	margin-bottom: 50px;
}
* {
    box-sizing: border-box;
}